<html>

<head>
    <title>Tp 04 -|- Sauco </title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
</head>

<body>
    <div id="app">
        <h1>Ingrese los datos solicitados</h1>
        <label for="name">Nombre: </label>
        <input type="text" v-model="persona.nombre" id="name">
        <label for="age">Edad: </label>
        <input type="number" v-model="persona.edad" id="age" min="0">
        <label for="sex">Sexo: </label>
        <select id="sex" v-model="persona.sexo">
            <option value="" selected disabled>Seleccione</option>
            <option value="Femenino">Femenino</option>
            <option value="Masculino">Masculino</option>
            <option value="Otro">Otro</option>
        </select>
        <button v-on:click="agregar()">Agregar</button>
        <ul>
            <span>Filtrar por sexo </span>
            <select id="sexSelector" v-model="filter">
                <option value="">Todos</option>
                <option value="Femenino">Masculino</option>              
                <option value="Masculino">Femenino</option>
            </select>
            <!--<button v-on:click="filterMethod()">Filtrar</button>-->
            <li 
                v-for="(persona, index) in personas" 
                :key="index"
                v-if = "persona.sexo !== filter">
                <a>{{ persona.nombre }} - {{persona.edad}} años - {{persona.sexo}}</a>
            </li>
        </ul>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        new Vue({
            el: "#app",
            data: {
                filter : "",
                personas: [],
                persona: {
                    nombre: "",
                    edad: "",
                    sexo: ""
                }
            },
            methods: {
                agregar() {
                    if(isNaN(this.persona.nombre) && this.persona.edad !== "" && this.persona.sexo !== ""){
                        this.personas.push({
                        nombre: this.persona.nombre,
                        edad: this.persona.edad,
                        sexo: this.persona.sexo
                    });
                    this.persona.nombre = "";
                    this.persona.edad = "";
                    this.persona.sexo = "";
                    }else{
                        alert("Complete todos los campos correctamente");
                    }
                },                
            }
        });
    </script>
</body>

</html>